{{!if文でテキストの出し分け}}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="noindex" />
<link rel="stylesheet" href="./scss/style.scss" />
<link rel="stylesheet" href="./scss/animation.scss" />
<link rel="stylesheet" href="./scss/top.scss" />
<link rel="stylesheet" href="./scss/about.scss" />
<link rel="stylesheet" href="./scss/works.scss" />
<link
  crossorigin=""
  rel="preconnect dns-prefetch"
  href="https://fonts.gstatic.com"
/>
<link
  rel="preload"
  as="style"
  href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500;700;900&amp;display=swap"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@500;700;900&amp;display=swap"
  media="print"
  onload="this.media='all'"
/>
